body{
	background: lightgrey;
}

h1{
	text-align: center;  
}

h3{
	text-align: center;
	color: Red;
}

img{
	display: inline-block;
}
.img-container{
  text-align: center;
}
ul#pageNav li{
	display: inline;
}