body{
	background: linear-gradient(to bottom, cyan, #a3d8f4);
}

h1{
	text-align: center;  
}

h3{
	text-align: center;
	color: blue;
}

img{
	display: inline-block;
}
.img-container{
  text-align: center;
}
ul#pageNav li{
	display: inline;
}